@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #ABB2B9;
}

#main {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 1px 16px 5px rgba(0,0,0,0.72);
}

#title {
    margin: 1vw 0;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 2px 2px #828282;
}

.bar {
    stroke-width: 1px;
    stroke: #154360;
    fill: #1F618D;
}

.bar:hover {
    fill: #EBF5FB;
}

#tooltip {
    position: absolute;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: .5vw;
    font-size: .9em;
    font-weight: bold;
    background-color: white;
    box-shadow: 1px 1px 8px 5px rgba(0,0,0,0.72);
}
